* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.7s;
}
@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}
a {
  text-decoration: none;
}
body {
  direction: rtl;
  background-color: white;
  counter-reset: section;
}

.register .head {
  background-image: url(../photo/ml.png);
  padding: 3rem;
}
.register .head h6 {
  color: white;
  font-size: 1rem;
  font-family: "light";
}
.register .head h6 span {
  color: #cecece;
  font-size: 1rem;
  font-family: "light";
}
.register form .title h4 {
  color: #2e2c34;
  font-size: 1.4rem;
  font-family: "bold";
}
.register form .title h4 span {
  color: #e5890a;
  font-size: 1.4rem;
  font-family: "bold";
}
.register form {
  margin-bottom: 1rem;
}
.register form .title {
  margin: 3rem 0 2rem;
}
.register form .title p {
  color: #707070;
  font-size: 1.2rem;
  font-family: "light";
}
.register form .form-group label {
  color: #546881;
  font-size: 1.1rem;
  font-family: "light";
}
.register form .form-group .email {
  height: 50px;
  border: 1px solid #d0d2d7;
  border-radius: 10px;
  width: 90%;
  padding: 0.6rem 0.5rem 0.6rem;
}
.register form .form-group .email .auth {
  outline: unset;
  border: 0;
  width: 90%;
  font-size: 1.1rem;
  font-family: "light";
}
.register form .form-group {
  margin-bottom: 1rem;
}
.register form .form-group .password-icon {
  height: 3rem;
  border: 1px solid #d0d2d7;
  border-radius: 10px;
  width: 90%;
  padding: 0.6rem 0.5rem 0.6rem;
  color: #909dad;
}
.register form .form-group .password-icon .auth {
  outline: unset;
  border: 0;
  width: 85%;
  font-size: 1.1rem;
  font-family: "light";
}
.register form a h5 {
  color: #909dad;
  font-size: 1rem;
  font-family: "light";
}
.register form .sign a h5 {
  color: #909dad;
  font-size: 1rem;
  font-family: "light";
}
.register form .sign a h6 {
  color: #909dad;
  font-size: 1rem;
  font-family: "light";
  text-align: center;
  width: 90%;
}
.register form .sign a h6 span {
  color: #e5890a;
  font-size: 1rem;
  font-family: "light";
  text-align: center;
  width: 90%;
}
.register form .sign .btn-primary {
  width: 90%;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 10px;
  border: none;
  background-color: #e5890a;
  color: white;
  font-size: 0.8rem;
  font-family: "regular";
  box-shadow: none;
}
.register form .sign .btn-warning {
  width: 90%;
}
.register form .modal .modal-content {
  width: 80%;
  text-align: center;
  border-radius: 23px;
  padding: 2rem;
}
.register form .modal .modal-content h4 {
  font-size: 1.2rem;
  font-family: "bold";
  margin-top: 2rem;
}
.register .img {
  margin-top: 4rem;
  text-align: end;
}
.register .img-pass {
  text-align: end;
  margin-top: 2rem;
}
.register .img-newaccount {
  text-align: end;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.register .img-newaccount img {
  width: 70%;
}
.register .img-pass img {
  width: 60%;
}
.register .img img {
  width: 85%;
}
button.swal2-confirm.swal2-styled {
  display: none;
}
.swal2-popup.swal2-modal.swal2-show {
  border-radius: 23px;
}
.register .mail-error {
  background-color: rgb(238 37 39 / 10%);
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  display: none;
}
.register .mail-error h4 {
  color: #ee2527;
  font-size: 14px;
  font-family: "light";
  margin: 0 0.5rem;
}
.register .password-error {
  background-color: rgb(238 37 39 / 10%);
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  display: none;
}
.register .password-error h4 {
  color: #ee2527;
  font-size: 14px;
  font-family: "light";
  margin: 0 0.5rem;
}
.register .email-error {
  background-color: #fef0c7;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  display: none;
}
#emailError {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  font-family: "bold";
}
#nameError {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  font-family: "bold";
  color: red;
}
#phoneError {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  font-family: "bold";
  color: red;
}
#emailError {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  font-family: "bold";
  color: red;
}
#messageError {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  width: 90%;
  margin: 0.5rem 0;
  font-family: "bold";
  color: red;
}
.register .email-error h4 {
  color: #b54708;
  font-size: 14px;
  font-family: "light";
  margin: 0 0.5rem;
}
.page-recover .title h4 {
  color: #2e2c34;
  font-size: 1.4rem;
  font-family: "bold";
}
.page-recover .title h4 span {
  color: #e5890a;
  font-size: 1.4rem;
  font-family: "bold";
}
.page-recover .title {
  margin: 3rem 0 2rem;
}
.page-recover .title p {
  color: #707070;
  font-size: 1.2rem;
  font-family: "light";
}
.page-recover .head {
  background-image: url(../photo/ml.png);
  padding: 3rem;
}
.page-recover.head h6 {
  color: white;
  font-size: 1rem;
  font-family: "light";
}
.page-recover .head h6 span {
  color: #cecece;
  font-size: 1rem;
  font-family: "light";
}
/* start forgetpass */
.page-recover .head h6 {
  color: white;
  font-size: 1rem;
  font-family: "light";
}
.forgetpass {
  display: flex;
  width: 100%;
}
.style-bord {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.forgetpass .head-forget {
  padding: 2rem 1.5rem 0;
}
.forgetpass .style-bord form::placeholder {
  color: rgba(129, 131, 135, 1);
  font-size: 15px;
  font-family: "regular";
}
.forgetpass .style-bord form .form-control {
  padding-right: 2rem;
  border-color: rgba(154, 158, 164, 1);
}
.forgetpass .style-bord form .btn-primary {
  width: 100%;
  color: white;
  background-color: #e5890a;
  border: none;
  margin: 2rem 0;
  padding: 0.5rem;
}
.forgetpass .style-bord form a {
  text-decoration: none;
}
.forgetpass .head-forget form p {
  color: #10162e;
  font-size: 1rem;
  font-family: "light";
  margin-bottom: 0.5rem;
}
.forgetpass .head-forget form p span {
  color: #e5890a;
  font-size: 1rem;
  font-family: "light";
}
.forgetpass .style-bord form .code-input {
  width: 80px;
  height: 80px;
  margin: 0.1rem;
  background-color: #f7f7f7;
  border: none;
  text-align: center;
  border-radius: 8px;
}
.page-recover .img-pass {
  text-align: end;
  margin-top: 3rem;
}
.page-recover .img-pass img {
  width: 65%;
}
/* end forgetpass */
/* if user dont chose anything invoice */
.tab-pane .invoice-error {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  display: none;
}
.tab-pane .invoice-error h4 {
  font-size: 20px;
  font-family: "bold";
  color: #10162e;
  margin: 1rem 0;
}
.tab-pane .invoice-error p {
  font-size: 15px;
  font-family: "light";
  color: #656b78;
  width: 60%;
  text-align: center;
}
/* if user dont chose anything invoice */
/* table invoice */
.invoice-table {
  padding: 0.8rem;
}
.invoice-table form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoice-table form .form-group .email {
  height: 50px;
  border: 1px solid #d0d2d7;
  border-radius: 10px;
  width: 60%;
  padding: 0.6rem 0.5rem 0.6rem;
}
.invoice-table form .form-group {
  width: 50%;
}
.invoice-table form .form-group .email .auth {
  outline: unset;
  border: 0;
  width: 90%;
  font-size: 1.1rem;
  font-family: "light";
}
.invoice-table form .form-group .email ::placeholder {
  font-size: 1.1rem;
  font-family: "light";
  color: #47586e;
}
.invoice-table form .form-group .slect-subject {
  padding: 0.6rem 0.5rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.invoice-table form .form-group .slect-subject .auth {
  outline: unset;
  height: 50px;
  border: 1px solid #d0d2d7;
  border-radius: 10px;
  padding: 0.5rem;
  width: 30%;
  font-size: 1.1rem;
  font-family: "light";
}
.invoice-table form .form-group .slect-subject p {
  margin: 0 0.5rem;
  font-size: 0.8rem;
  font-family: "light";
  color: #656b78;
}

/* table */
.invoice-table .table thead {
  background-color: rgb(178 187 198 / 30%);
  padding: 1rem;
  border-radius: 8px;
}
.invoice-table .table thead tr {
  border: none;
  border-radius: 10px;
}
.invoice-table .table thead tr th {
  font-size: 0.9rem;
  font-family: "light";
  color: #546881;
  border: none;
}
.invoice-table .table thead tr .th {
  border-top-right-radius: 8px;
}
.invoice-table .table thead tr .thh {
  border-top-left-radius: 8px;
}
.invoice-table .table tbody tr .td {
  width: 35%;
}

.invoice-table .content_page .chose .form-row {
  display: flex;
}

.invoice-table table thead th {
  background-color: rgba(176, 188, 193, 0.19);
  color: rgba(87, 107, 116, 1);
  text-align: center;
  font-family: "regular";
}

.invoice-table .table-bordered {
  /* border: 1px solid rgba(163, 174, 178, 1); */
  border-radius: 10px;
}
.invoice-table table td {
  font-size: 0.7rem;
  font-family: "regular";
  border: none;
  text-align: center;
  padding: 1rem 0.5rem;
}
.invoice-table table tbody .td {
  font-size: 0.7rem;
  font-family: "regular";
}
.invoice-table table tbody .price-table {
  width: 82px;
  height: 36px;
  border-radius: 60px;
  background-color: rgb(21 179 134 / 10%);
  color: #15b386;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.invoice-table table tbody .price-table h6 {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-family: "regular";
  color: #15b386;
}
.invoice-table table tbody .dropdown .btn-table {
  margin-top: 0.5rem !important;
  background-color: transparent !important;
  text-align: center !important;
}
.invoice-table table tbody .dropdown .btn-table:hover {
  background-color: #e5890a;
  color: white !important;
}
.invoice-table table tbody .dropdown ul li {
  font-size: 0.8rem;
  font-family: "light";
  color: black;
}
.tab-favourite .card-subject {
  display: flex;
  /* border: 1px solid #00000031; */
  padding: 0.5rem;
  margin-top: 0rem !important;
  border-radius: 10px;
  width: fit-content;
  margin: 1rem auto;
  gap: 10px;
  transition: 0.7s;
}
.tab-favourite .love {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 0.4rem;
  border-radius: 50%;
}
.tab-favourite .love svg {
  color: red;
}
.tab-favourite .adress h4 {
  margin-bottom: 0.9rem;
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem !important;
}

.tab-favourite .star span {
  color: #656b78;
  font-family: "regular";
  font-size: 0.7rem;
}
.tab-favourite .text-true p {
  margin-bottom: 0;
  color: #656b7871;
  font-family: "light";
  font-size: 0.9rem;
}
.tab-favourite .profile {
  border-top: 1px dashed #a3adbb !important;
}
.presonal-account .tab-content.tab-favourite {
  border: none;
}
.presonal-account .delet-tab-favourite {
  padding: 1rem;
  background-color: #f9e8d9;
  text-align: center;
  margin: 0 auto;
  display: none;
}
.presonal-account .delet-tab-favourite h5 {
  color: #e5890a;
  font-size: 0.9rem;
  font-family: "regular";
}
.study-languge {
  width: 30%;
  text-align: center;
}
.chose-standard form {
  margin: 3rem 0 8rem;
}
.chose-standard form .form-group label {
  color: #47586e;
  font-size: 1rem;
  font-family: "light";
  margin: 1rem 0;
}
.chose-standard form .form-group .form-select {
  background-color: #f2f2f2;
  color: #909dad;
  font-size: 0.8rem;
  font-family: "light";
  background-position: left 1rem center;
  box-shadow: none;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}
.chose-standard form .btn-warning {
  background-color: #e5890a;
  color: white;
  font-size: 0.8rem;
  font-family: "light";
  width: 100%;
  border-radius: 8px;
  margin: 2rem 0;
  padding: 0.8rem;
}
.total-rate .title h5 {
  font-size: 0.8rem;
  font-family: "bold";
  color: black;
  margin: 1rem 0;
}
.btn-buy .btn-warning {
  background-color: rgb(229 137 10 / 10%);
  color: #e5890a;
  padding: 0.6rem;
  border-radius: 8px;
}
.btn-buy .btn-primary {
  border-radius: 8px;
  padding: 0.6rem;
}
.icon-text-top p {
  font-size: 0.8rem;
}
.text-bodyacco h4 {
  font-size: 0.9rem;
}
.bag-content .accordion-button::after {
  margin-left: 10px !important;
}
.bag-content .accordion-button {
  background-color: #f0f3f6;
}
.reset-page .logo-rest {
  text-align: center;
}
.reset-page .logo-rest .imge-two {
  position: relative;
}
.reset-page .logo-rest .imge-two::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 41%;
  height: 30px;
  background-color: #e5890a;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.reset-page .logo-rest .imge-two::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 41%;
  height: 30px;
  background-color: #e5890a;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.reset-page .contant-reset .head h4 {
  font-size: 1.5rem;
  font-family: "bold";
  text-align: center;
  margin: 4rem 0 1.5rem;
  width: 75%;
}
.reset-page .contant-reset .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-page .contant-reset {
  padding: 0 5rem;
}
.reset-page .contant-reset .details .name {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.reset-page .contant-reset .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reset-page .contant-reset .details .name h5 {
  margin: 0 0.5rem;
  font-size: 1.1rem;
  font-family: "light";
  color: black;
}
.reset-page .contant-reset .details .name h5 span {
  color: #5c5c6b;
}
.reset-page .contant-reset .total-reset {
  border: 1px solid #b2bbc6;
  border-radius: 6px;
  /* padding: 1rem; */
}
.reset-page .contant-reset .total-reset .price-reset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem;
}
.reset-page .contant-reset .total-reset .price-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 0;
}
.reset-page .contant-reset .total-reset .price-reset h6 {
  font-size: 1.1rem;
  font-family: "regular";
  color: #29384b;
}
.reset-page .contant-reset .total-reset .price-reset p {
  font-size: 1.1rem;
  font-family: "regular";
  color: #29384b;
}
.reset-page .contant-reset .total-reset .price-total h4 {
  font-size: 1.4rem;
  font-family: "regular";
  color: #29384b;
}
.reset-page .contant-reset .total-reset .price-total h5 {
  font-size: 1.1rem;
  font-family: "regular";
  color: white;
  background-color: #e5890a;
  padding: 0.7rem 1rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.reset-page .contant-reset .rules h4 {
  color: #5c5c6b;
  font-size: 1.4rem;
  font-family: "regular";
}
.reset-page .contant-reset .rules h4 span {
  color: #111827;
}
.reset-page .contant-reset .rules {
  margin: 1.5rem 0;
}
.reset-page .contant-reset .scan {
  text-align: center;
}
.reset-page .contant-reset .scan img {
  width: 20%;
}
.reset-page .end-reset {
  text-align: end;
}
.reset-page .end-reset img {
  width: 70%;
  height: 30vh;
}
.return {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.return img {
  width: 63%;
}
.reset-page {
  padding: 0 15rem;
}
/* table invoice */
@media only screen and (max-width: 1400px) {
  .return img {
    width: 90%;
  }
}
@media only screen and (min-width: 1300px) {
  .register form .form-group .password-icon .auth {
    width: 88%;
  }
}
@media only screen and (max-width: 1100px) {
 
  .return img {
    width: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .reset-page {
    padding: 0 6rem;
  }
  .register form .form-group .email {
    width: 100%;
  }
  .register form .form-group .password-icon {
    width: 100%;
  }
  .register .img {
    margin-top: 8rem;
  }
  .register .img img {
    width: 100%;
  }
  .page-recover .img-pass img {
    width: 100%;
  }
  .page-recover .img-pass {
    margin-top: 8rem;
  }
  .register .img-newaccount img {
    width: 100%;
  }
  .register .img-pass img {
    display: none;
  }
  .register .img-pass {
    margin-top: 3rem;
  }
  .invoice-table form .form-group .email {
    width: 90%;
  }
  .invoice-table form .form-group .slect-subject .auth {
    width: 60%;
  }
  .invoice-table .table-bordered {
    min-width: 1000px;
  }
  .adress a h5 {
    margin-bottom: 0.5rem;
  }
  .reset-page .contant-reset {
    padding: 0 3rem;
  }
  .return {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .register .img-pass img {
    display: none;
  }
  .return {
    display: none;
  }
  .register form .form-group .password-icon {
    width: 100%;
  }
  .register form .form-group .email {
    width: 100%;
    height: 40px;
  }
  .register form .sign .btn-primary {
    width: 100%;
  }
  .register .img {
    margin: 0 auto;
    text-align: center;
  }
  .register .img img {
    display: none;
  }
  .register .head {
    padding: 2rem;
  }
  .page-recover .img-pass {
    text-align: center;
    margin-top: 0;
  }
  .page-recover .img-pass img {
    display: none;
  }
  .forgetpass .style-bord form .code-input {
    width: 45px;
    height: 45px;
  }
  .register .img-newaccount img {
    width: 60%;
  }
  .register .img-newaccount {
    text-align: center;
    margin-top: 1rem;
  }
  .forgetpass .head-forget {
    padding: 0;
  }
  .style-bord {
    display: block;
  }
  .register .img-pass {
    text-align: center;
    margin-top: 1rem;
  }
  .invoice-table form {
    flex-wrap: wrap;
  }
  .invoice-table form .form-group {
    width: 100%;
  }
  .invoice-table form .form-group .slect-subject {
    flex-wrap: wrap;
  }
  .invoice-table form .form-group .slect-subject .auth {
    width: 50%;
  }
  .invoice-table form .form-group .email {
    width: 100%;
  }
  .invoice-table .table-bordered {
    min-width: 1000px;
  }
  .reset-page .contant-reset .head h4 {
    width: 100%;
    font-size: 1rem;
  }
  .reset-page .contant-reset {
    padding: 0 1rem;
  }
  .reset-page .contant-reset .details .name h5 {
    font-size: 0.8rem;
  }
  .reset-page .contant-reset .total-reset .price-reset h6 {
    font-size: 0.8rem;
  }
  .reset-page .contant-reset .total-reset .price-total h4 {
    font-size: 1rem;
  }
  .reset-page .contant-reset .total-reset .price-reset p {
    font-size: 0.9rem;
  }
  .reset-page .contant-reset .total-reset .price-total h5 {
    font-size: 0.9rem;
  }
  .reset-page .contant-reset .rules h4 {
    font-size: 1rem;
  }
  .reset-page .end-reset img {
    height: 20vh;
  }
}
